@font-face {
    font-family: "Black Chancery";
    src: 
        url(../../assets/fonts/BLKCHCRY.eot) format('embedded-opentype'),
        url(../../assets/fonts/BLKCHCRY.otf) format('opentype'),
        url(../../assets/fonts/BLKCHCRY.TTF) format('truetype'),
        url(../../assets/fonts/BLKCHCRY.woff) format('woff'),
        url(../../assets/fonts/BLKCHCRY.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}